extends userdashboard.pug

block links 
  link(rel='stylesheet', href='/static/rssdetails.css', type='text/css')
block navigationlinks 
   p#yourFeedsSectionLink 
    a(href="/dashboard/yourfeeds") View your feeds
   p#navigatetohome
    a(href="/dashboard") Home Dashboard
block centerContainer
    #centerContainer
     #centerContainerContent.container-fluid
        #featuredSourcesHeader.row
         .col-12.p-0
            p#featuredSources RSS Information
        #rssDetailsContainer.row
         .col-12.p-0 
           p.questions What is RSS?
           p.answers
             | RSS formerly called RDF site summary or rich site summary is a format used to provide subscribers with new content from frequently updated websites.
         .col-12.p-0
           p.questions Which tools do I need to use RSS?
           p.answers
             | You need to use an RSS reader, also called a feed reader, is a browser add-on program designed to gather and display RSS feeds according to user-definable parameters.
         .col-12.p-0 
           p.questions What are the benefits of using Daily Feeds?
           p.answers
             | At Daily Feeds, we bring you more closer to the content you are interested in a more easy way. Enjoy amazing reading experience with exciting features.
block navigationLinks
   p.navigationLinks 
    a(href="/dashboard/yourfeeds") View your feeds
block dynamicHeading  
    p#contentHeading RSS Information
block mobileContentSection
      #mobileFeaturedSourcesContainer.row