#linksContainer{
    position:relative;
    top:20%;
    transform: translateY(-20%);
}
#navigatetohomedasboard{
    font-weight: bold;
    text-align: center;
    background: -webkit-linear-gradient(rgb(81,18,129), rgb(121, 82, 179));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#userFeedsSectionLink{
    font-weight: bold;
    text-align: center;
    background: -webkit-linear-gradient(rgb(81,18,129), rgb(121, 82, 179));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* #card{
    margin:auto;
    margin-top: 20px;
    background-image:linear-gradient(to bottom left, rgba(134,122,233,1), rgba(134,122,233,0));
    border-radius: 3px;
    height:100px;
} */
#newsChannelsSectors{
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    font-weight: bold;
    background: -webkit-linear-gradient(rgba(81, 18, 129, 1),rgba(121, 82, 179, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:relative;
    top:50%;
    transform: translateY(-50%);
}