/* html, body{
    height:100%;
    margin:0;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
background: #f6f6f6;
}
::-webkit-scrollbar-thumb {
background-image:linear-gradient(to top left, rgba(121, 82, 179, 1), rgba(121, 82, 179, 0)) ;
}
::-webkit-scrollbar-thumb:hover {
    background-image:linear-gradient(to top left, rgba(81, 18, 129, 1), rgba(81, 18, 129, 0)) ;
} */
/* #mainContainer{
    height:100%;
    font-size: large;
}
#leftSideBar{
    position:fixed;
    width:30%;
    height:100%;
    background-color: #f6f6f6;
}
#linksContainer{
    position:relative;
    top:20%;
    transform: translateY(-20%);
}
#navigatetohomedasboard{
    font-weight: bold;
    text-align: center;
    background: -webkit-linear-gradient(rgb(81,18,129), rgb(121, 82, 179));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#leftSideBarContainer{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#feedEnterBar{
    display:block;
    width:90%;
    margin:auto;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right top, rgb(81, 18, 129), rgba(81, 18, 129,0));
    border-image-slice: 1;
    padding: 10px;
}
#feedCreateBtn{
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to right, rgb(81, 18, 129), rgb(121, 82, 179));
    padding: 5px 17px;
    margin-top: 20px;
    color: #f5f5f5;
    cursor: pointer;
    outline: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#centerContainer{
    position:fixed;
    width:60%;
    height:100%;
    left:30%;
}
#centerContainerContent{
    height:100%;
    overflow-y: scroll;
}
#featuredSourcesHeader{
    position:fixed;
    width:60%;
    background-color: rgb(121, 82, 179);
    color:#f6f6f6;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    z-index:2;
}
#featuredSources{
    margin:0;
    font-size: 26px;
    font-weight: bold;
    line-height: 52px;
    padding-left: 10px;
}
#featuredSourcesFeeds{
    display:none;
}
#ifeaturedSourcesContainer{
    position: relative;
    top:10%;
}
#rightSideBar{
    position:fixed;
    right:0%;
    width:10%;
    height:100%;
    background-color: #f6f6f6;
}
#rightSideBarContainer{
    position:absolute;
    width:100%;
    margin:0px;
    padding:0px;
    top:20%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
}
#moon{
    width:50px;
    height: auto;
    margin:0px;
    padding:0px;
    margin-bottom:30px;
    z-index:-99;
    position: relative;
    left: 40%;
    transform: translateX(-40%);
}
#upper{
    width: 30px;
    height:30px;
    border-radius: 50%;
    background-color:#111111;
    position:absolute;
    margin-top:10px;
    margin-left:15px;
    z-index:0;
    transform: rotateZ(120deg);
    cursor:pointer;
    transition:all 1s;
}
#lower{
    width: 30px;
    height:30px;
    border-radius: 50%;
    background-color:#f6f6f6;
    transform: rotateZ(120deg);
    margin-left:10px;
    cursor:pointer;
    transition:all 1s;
}
#logoutLink{
    background: -webkit-linear-gradient(rgb(81,18,129), rgb(121, 82, 179));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition:all 1s;
}
#logoutLink:hover{
    background: -webkit-linear-gradient(rgba(81,18,129, 1), rgba(81,18,129, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
#linksContainer{
    position:relative;
    top:20%;
    transform: translateY(-20%);
}
#navigatetohomedasboard{
    font-weight: bold;
    text-align: center;
    background: -webkit-linear-gradient(rgb(81,18,129), rgb(121, 82, 179));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#featuredSourcesFeeds{
    display:none;
}