#yourFeedsSectionLink{
    font-weight: bold;
    text-align: center;
    /* margin:110px 0px; */
    margin-top:110px;
    background: -webkit-linear-gradient(rgb(81,18,129), rgb(121, 82, 179));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#rssDetailsContainer{
    margin:90px 0px;
}
#navigatetohome{
    margin-bottom:100px;
    font-weight: bold;
    text-align: center;
    background: -webkit-linear-gradient(rgb(81,18,129), rgb(121, 82, 179));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.questions{
    font-weight:550;
    margin:0px;
}